<div class="dropdown">
  @if (isLeft) {
    <button class="dropdown-button-left">
      {{header}}
      <i class="material-icons">
        keyboard_arrow_down
      </i>
    </button>
    <div class="dropdown-content-left">
      @for (item of options; track $index) {
        <a (click)="toggleOption($index)">{{item}}</a>
      }
    </div>
  }
  @else {
    <button class="dropdown-button">
      {{header}}
      <i class="material-icons">
        keyboard_arrow_down
      </i>
    </button>
    <div class="dropdown-content">
      @for (item of options; track $index) {
        <a (click)="toggleOption($index)">{{item}}</a>
      }
    </div>
  }
</div>

