<img class="background-image" src="assets/film-1.jpg">
<img src="film-1" alt="" class="background-image">
<div class="glass-container"></div>
<div class="main-container">
    <div class="container stars-container">
        <h2 class="title">Rate Content</h2>
        <div class="stars">
          @for (item of starIterator; track $index) {
            <i class="material-icons star" [id]="$index"
              (mouseover)="getState($index)"
              (mouseleave)="resetState()">
              star
            </i>
          }
        </div>
    </div>

    <div class="container body-container">
        <h2 class="title">Review</h2>
        <div class="text-box review-body">
            <textarea class="text-input" [(ngModel)]="reviewText"></textarea>
            <button class="lightblue-button"
            (click)="addReview()">Post</button>
        </div>
    </div>
</div>
