<header class="header">
    <div class="logo" routerLink="/landing">
        <img src="assets/navbar-images/navbar-logo.png" alt="">
        <label class="font-poppins">IMDB</label>
    </div>
    <div class="mid-container">
        <ul class="nav-links">
            <li>
                <a>
                    <span class="option search" routerLink="/search">
                        <img src="assets/navbar-images/navbar-search.png">
                    </span>
                </a>
            </li>
            <li>
                <a>
                    <span class="option favorite" routerLink="/favorites">
                        <img src="assets/navbar-images/navbar-favorites.png" alt="">
                    </span>
                </a>
            </li>

            <li>
                <a>
                    <span class="option cart" routerLink="/cart">
                        <img src="assets/navbar-images/navbar-cart.png" alt="">
                    </span>
                </a>
            </li>
        </ul>
    </div>
    <div class="right-container">
        <shared-dropdown-navbar
            header="Settings"
            [options]="dropdownCategories"
            [userPhoto]="userPhoto">
        </shared-dropdown-navbar>
    </div>
</header>

