@media screen and (max-width: 1000px) {
  .mid-container{
    display: none;
  }
}

.header{
  background-color: #45455e ;
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  padding: 5px 7%;
  z-index: 10;
}

.header .logo{
  display: flex;
  align-items: center;
  width: 33%;
}

.header .logo label{
  color: white;
  font-size: 30px;
}
.header .logo{
  cursor: pointer;
  transition: all 0.3s;
}
.header .logo img{
  height: 70px;
  width: auto;
}

.header .logo:hover{
  transform: scale(1.1);
}


.mid-container{
  align-self: center;
  align-items: center;
}

.header .nav-links li{
  display: inline-block;
  padding: 0 25px;
  transition: all 0.3s;
}
.header .nav-links li:hover{
  transform: scale(1.1);
}

.header .btn button{
  border: none;
  background-color: rgba(255, 255, 255, 0.0);
  transition: all 0.3s;
}

.header .btn button:hover{
  transform: scale(1.1);
}

.logo img{
  width: 40px;
  height: 40px;
}
.option img{
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.right-container{
  display: flex;
  justify-content: flex-end;
  width: 33%;
}

