<div class="main-container">
  <div class="resize-container">
    <div class="search-container">
      <shared-search-box
        placeholder="Search...">
      </shared-search-box>
      <div class="options-container">
        <shared-dropdown-menu
          header=Categories
          [options]="categories"
          >
        </shared-dropdown-menu>
        <shared-dropdown-menu
          header=Content
          [options]="options"></shared-dropdown-menu>
          <i class="material-icons add">
            data_saver_on
          </i>
      </div>
    </div>
    <h2>
      <span class="highlight">
        All
      </span>
      Movies & Series
    </h2>
    <div class="movie-list">
      @for (item of iterator; track $index) {
        <shared-movie-box
          [remove]="true"
          [image]="image"
          [description]="description"
          [name]="name">
        </shared-movie-box>
      }
    </div>
  </div>

</div>
