<div class="dropdown">
    <div class="dropdown-button">
      <img class="user-image"
      src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dXNlcnxlbnwwfHwwfHx8MA%3D%3D">
      <i class="material-icons">
        keyboard_arrow_down
      </i>
    </div>
    <div class="dropdown-content">
      @for (item of options; track $index) {
        <a [routerLink]="item[1]">{{item[0]}}</a>
      }
    </div>
</div>

