<div class="main-container">
    <div class="left-side">
        <h1 class="login-title">Login</h1>
        <div class="login-container">
              <shared-text-input
                text="Username"
                [(entry)]="emailInput">
              </shared-text-input>
              <shared-text-input
                text="Password"
                [(entry)]="passwordInput">
              </shared-text-input>
                <a class="cp-text text-link">Change Password</a>
                <div class="input-container">
                    <button class="login-button"
                      (click)="checkLogin()">
                      Login
                    </button>
                </div>
            <div class="login-footer">
                <p>Don't have an account? <a class="text-link" href="/register">Sign up</a></p>
            </div>
        </div>
    </div>
    <div class="right-side">
        <img class="login-image" src="assets/login-images/login-image.png">
    </div>
</div>
