<div class="main-container">
    <div class="left-side">
        <h1 class="login-title">Login</h1>
        <div class="login-container">
            <form action="login.php" method="POST">
                <div class="input-container">
                    <input type="username" name="username" id="username" required>
                    <label for="username">Username</label>
                </div>
                <div class="input-container">
                    <input type="password" name="password" id="password" required>
                    <label for="password">Password</label>
                </div>
                <a class="cp-text text-link">Change Password</a>
                <div class="input-container">
                    <button class="login-button" type="submit">Login</button>
                </div>
            </form>
            <div class="login-footer">
                <p>Don't have an account? <a class="text-link" href="#">Sign up</a></p>
            </div>
        </div>
    </div>
    <div class="right-side">
        <img class="login-image" src="assets/login-images/login-image.png">
    </div>
</div>
