<div class="main-container">
  <div class="resize-container">
    <div class="search-container">
      <shared-dropdown-menu
      header=Type
      [options]="types"
      [isLeft]="true"
      (selectedOptionsChange)="getSelectedOptions($event)">
    </shared-dropdown-menu>
    </div>
    <h2>
      <span class="highlight">
        Statistics
      </span>
    </h2>
  </div>
  @if (chartOptions) {
    <apx-chart
    class="chart"
    [series]="chartOptions.series!"
    [chart]="chartOptions.chart!"
    [labels]="chartOptions.labels!"
    [title]="chartOptions.title!"></apx-chart>
  }
</div>
