<div class="main-container">
  <div class="resize-container">
    <div class="search-container">
      <shared-search-box
        placeholder="Search...">
      </shared-search-box>
      <div class="options-container">
          <i class="material-icons add"
          routerLink="/add-actor">
            data_saver_on
          </i>
      </div>
    </div>
    <h2>
      <span class="highlight">
        All
      </span>
      Actors
    </h2>
    <div class="movie-list">
      @if(personResponse){
        @for (person of personResponse.data; track $index) {
          <shared-actor-box
            [remove]="true"
            [image]="image"
            [person]="person">
          </shared-actor-box>
        }
      }
    </div>
  </div>

</div>
