<div class="movie-box">
  <div class="gradient"></div>
  <img [src]="content.photo" alt="">
  <div class="overlay">
    <div class="icons">
      @if (remove) {
        <i class="material-icons remove"
        (click)="deleteContent()">close</i>
      }
      @if (favorite) {
        <i class="material-icons"
          (click)="addFavorite()">favorite</i>
      }
      @if (buy) {
        <i class="material-icons"
          (click)="addCart()">shopping_cart</i>
      }
    </div>
  </div>
  <div class="movie-info" (click)="viewContent()">
      <label class="movie-title">{{content.title}}</label>
      <label class="movie-year">{{content.publishYear}}</label>
  </div>
</div>
