<div class="movie-box">
  <div class="gradient"></div>
  <img src="assets/film-2.jpg" alt="">
  <div class="overlay">
    <div class="icons">
      @if (remove) {
        <i class="material-icons remove">close</i>
      }
      @if (favorite) {
        <i class="material-icons">favorite</i>
      }
      @if (buy) {
        <i class="material-icons">shopping_cart</i>
      }
    </div>
  </div>
  <div class="movie-info">
      <label class="movie-title">Avengers</label>
      <label class="movie-year">2019</label>
  </div>
</div>
