<img class="background-image" src="assets/film-1.jpg">
<img src="film-1" alt="" class="background-image">
<div class="glass-container"></div>
<div class="main-container">
    <section class="info-container">
        <div class="movie-image-container">
            <div class="image-container">
                <img src="assets/film-1.jpg">
            </div>
            <button class="lightblue-button">Check Reviews</button>
            <a class="font-poppins">Review Content</a>

        </div>

        <div class="movie-info-container">
            <h3>Title</h3>
            <p>{{movieTitle}}</p>
            <h3>Release</h3>
            <p>{{movieReleaseDate}}</p>
            <h3>Duration</h3>
            <p>{{movieDuration}}</p>
            <h3>Rating</h3>
        </div>

        <div class="synopsis-container">
            <div class="save-options-buttons">
                <a>
                    <span>
                        <img src="assets/selected-movie-images/addToCart.png">
                    </span>
                </a>
                <a>
                    <span>
                        <img src="assets/selected-movie-images/addToFavorite.png">
                    </span>
                </a>
            </div>
            <h3>Synopsis</h3>
            <p class="synopsis">{{movieSynopsis}}</p>
        </div>

    </section>

    <section class="trailer-container">
        <h3>Trailer</h3>
        <div class="trailer">
            <iframe width="760" height="415" src="https://www.youtube.com/embed/bK6ldnjE3Y0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </section>

    <section class="footage-container">
        <h3>Footage</h3>
        <div class="footage-images">

        </div>
    </section>

    <section class="team-container">
        <h3>Team</h3>
        <div class="actors-container">
          @for (item of iterator; track $index) {
            <shared-actor-box
              [name]="actor[0]"
              [role]="actor[1]"
              [image]="actor[2]">
            </shared-actor-box>
          }
        </div>

    </section>
</div>



