<img class="background-image" [src]="filename">
<img [src]="filename" class="background-image">
<div class="glass-container"></div>
<div class="main-container">

    <section style="display: flex; flex-direction: column; align-items: center;">

        <div class="info-container">
            <div class="movie-image-container">
                <div class="image-container">
                    <img [src]="filename">
                </div>
                <button class="lightblue-button"
                  [routerLink]='["/comments",id]'>
                  Check Reviews
                </button>
                <a class="font-poppins"
                  [routerLink]="['/review',id]">Review Content
                </a>
            </div>

            <div class="movie-info-container">

                <div class="label-info-container">
                    <h3>Title</h3>
                    <p>{{movieTitle}}</p>

                </div>
                <div class="label-info-container">
                    <h3>Release</h3>
                    <p>{{movieReleaseDate}}</p>
                </div>
                @if(isMovie){
                  <div class="label-info-container">
                    <h3>Duration</h3>
                    <p>{{movieDuration}}min</p>
                </div>
                }
                <div class="label-info-container">
                    <h3>Rating</h3>
                    <div class="stars-container">
                      @for (item of starsCount; track $index) {
                        <img src="assets/star.png" alt="">
                      }
                    </div>
                </div>
            </div>

            <div class="synopsis-container">
                <h3>Synopsis</h3>
                <p class="synopsis">{{movieSynopsis}}</p>
            </div>
        </div>
    </section>

    <section class="trailer-container">
        <h3>Trailer</h3>
        <div class="trailer">
            <iframe class="youtube-video" [src]="trailer" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </section>

  <!-- <section class="footage-container">
      <h3>Footage</h3>
      <div class="footage-images">
          <h2></h2>
      </div>
  </section> -->

  <!-- <section class="team-container">
      <h3>Team</h3>
      <div class="actors-container">
        @for (item of iterator; track $index) {
          <shared-actor-box
            [name]="actor[0]"
            [role]="actor[1]"
            [image]="actor[2]">
          </shared-actor-box>
        }
      </div>
  </section> -->

</div>



