*{
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.background-image{
    background-image: url('https://images.unsplash.com/photo-1622838320000-4b3b3b3b3b3b');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
}

.glass-container{
    position: inherit;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, rgba(69,69,94,1) 0%, rgba(69,69,94,1) 1%, rgba(69,69,94,0.742734593837535) 100%);
    backdrop-filter: blur(15px);
}

.info-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-left: 150px;
}
.movie-image-container{
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container{
    border-radius: 15px;
    margin-bottom: 30px;
    display: flex;
    width: 344px;
    height: 511px;
    overflow: hidden;
}

.image-container img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}


.movie-image-container button{
    width: 250px;
    height: 60px;
    margin-bottom: 20px;
}

.movie-image-container a{
    font-size: 20px;
    color: #5e9ed7;
    cursor: pointer;
    transition: all 0.3s;
}

.movie-image-container a:hover{
    color: #347dbd;;
}

.movie-info-container{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.movie-info-container h3{
    width: 250px;
}

h3{
    color: white;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 2px;
}

p{
    color: rgb(180, 180, 180);
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 25px;
}

.synopsis-container{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

.synopsis {
    width: 1000px;
    height: 500px;
    overflow: auto;
    line-height: 1.5;
}

.save-options-buttons{
    align-self: end;
}

.save-options-buttons img{ 
    width: 40px;
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.3s;
}
.save-options-buttons img:hover{
    transform: scale(1.1);
}


.trailer-container{
    margin: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.trailer-container h3{
    margin-bottom: 30px;

}

