<div class="main-container">
  <div class="resize-container">
    <div class="search-container">
      <shared-search-box
        placeholder="Search...">
      </shared-search-box>
      <div class="options-container">
        <shared-dropdown-menu
          header=Categories
          [options]="categoryNames"
          (selectedOptionsChange)="changeCategory($event)"
          >
        </shared-dropdown-menu>
        <shared-dropdown-menu
          header=Content
          [options]="options"
          (selectedOptionsChange)="changeContent($event)">
        </shared-dropdown-menu>
      </div>
    </div>
    <h2>
      <span class="highlight">
        Relevant
      </span>
       Results
    </h2>
    <div class="movie-list">
      @if(contentResponse){
        @for (content of contentResponse.data; track $index) {
          <shared-movie-box
            [buy]="true"
            [favorite]="true"
            [image]="image"
            [description]="content.publishYear.toString()"
            [name]="content.title"
            (click)="viewContent(content)">
          </shared-movie-box>
        }
      }
    </div>
  </div>

</div>
