<div class="card-container">
    <h2 class="font-poppins">Profile</h2>
    <div class="main-container">
        <div class="pfp-container">
            <div class="image-box">
                <img src="assets/film-1.jpg">
            </div>
            <input type="file" id="pfp" accept="imag/png, image/jpeg, image/jpg">
            <label class="font-poppins" for="pfp">Select File</label>
        </div>
        <form class="info-container">
            <div class="inputs-container">
              @if(user){
                <div class="left-side">
                  <div class="input-container">
                      <input id="username"
                      [value]="user.data[0].username" required>
                      <label for="username">Username</label>
                  </div>

                  <div class="input-container">
                      <input id="name" required
                      [value]="user.data[0].firstName">
                      <label for="name">First Name</label>
                  </div>

                  <div class="input-container">
                      <input id="lastname" required
                      [value]="user.data[0].firstLastName">
                      <label for="lastname">Last Name</label>
                  </div>

                  <div class="input-container">
                      <input id="email" required
                      [value]="user.data[0].email">
                      <label for="email">E-mail</label>
                  </div>
              </div>

              <div class="right-side">
                  <div class="input-container">
                      <input id="identificationCard" required
                      [value]="user.data[0].personalId">
                      <label for="identificationCard">ID</label>
                  </div>

                  <div class="input-container">
                      <input id="age" required
                      [value]="getAge()">
                      <label for="age">Age</label>
                  </div>

                  <div class="input-container">
                      <input class="date-input" type="date" id="birthday" placeholder="none"
                      [value]="user.data[0].birthDate">
                      <label for="birthday">Birthday</label>
                  </div>

                  <div class="input-container">
                      <input id="country" required
                      [value]="getNationality()">
                      <label for="country">Country</label>
                  </div>
              </div>
              }
            </div>
            <div class="btn-container">
                <button class="lightblue-button cancel-btn" type="submit">Edit</button>
                <button class="lightblue-button cancel-btn" type="submit">Accept</button>
            </div>
        </form>
    </div>
</div>
