<div class="content-card">
  <div class="image-container">
    <img [src]="content.photo">
    <div class="overlay">
      <div class="icons">
        @if (remove) {
          <i class="material-icons remove"
          (click)="deleteContent()">close</i>
        }
        @if (favorite) {
          <i class="material-icons"
            (click)="addFavorite()">favorite</i>
        }
        @if (buy) {
          <i class="material-icons"
            (click)="addCart()">shopping_cart</i>
        }
      </div>
      <div class="review-sm">
        <div class="star-sm">
          <p>4</p>
          <img src="assets/star.png" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="info-container" (click)="viewContent()">
    <h3>{{content.title}}</h3>
    @if(detail){
      <p>${{detail}}</p>
    }
    <div class="badges-container">
        <shared-badge [text]="categoryName"></shared-badge>
    </div>
  </div>
  <div class="review-container">
    <img src="assets/star.png" alt="">
    <img src="assets/star.png" alt="">
    <img src="assets/star.png" alt="">
    <img src="assets/star.png" alt="">
    <img src="assets/star.png" alt="">
  </div>
</div>
