h2, h3, p {
  color: white;
  font-family: 'Droid Sans';
}

.main-container {
  display: flex;
  flex-direction: column;
  padding: 20px 80px;
  gap: 16px;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 20px;
}
