@media screen and (max-width: 1000px) {

    .card-container{
        border-radius: 0px!important;
        width: 100%!important;
        height: auto!important;
        position: fixed;
        margin: 0!important;
        margin-top: 200px!important;
        padding-top: 60vh;
        padding-bottom: 10vw;
        position: absolute;
    }

    .main-container{
        flex-direction: column!important;
        width: 100% !important;
        margin: 0px!important;
        align-items: center!important;
    }

    .pfp-container{
        width: 100%!important;
        align-self: center!important;
        margin: 0!important;
    }

    .info-container{
        margin-left: 0px!important; 
        margin-right: 0px!important;    
        margin-top: 30px;
        width: 100%!important;
        align-items: center!important;
        justify-content: center!important;
    }

    .inputs-container{
        flex-direction: column!important;
        align-items: center!important;
        justify-content: center!important;
        width: 100%!important;
        margin: 0!important;
        max-height: none!important;
    }

    .input-container {
        width: 100%!important;
        margin-right: 0px!important;
        margin-left: 0px!important;
        align-items: center!important;
        justify-content: center!important;
    }

    .left-side{
        margin: 0!important;
        align-items: center!important;
        justify-content: center!important;
    }

    .right-side{
        margin: 0!important;
        align-items: center!important;
        justify-content: center!important;
    }

    .input-container input{
        width: 90%!important;
        margin: 0!important;
    }

    .btn-container{
        width: 100%!important;
        margin-left: 0px!important;
        margin-right: 0px!important;
        flex-direction: column!important;
        align-items: center!important;
    }

    .btn-container p{
        margin: 0!important;
        margin-bottom: 30px!important;
    }

    .btn-container button{
        width: 50%!important;
        margin: 0!important;
    }


}


.card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: #365c7d;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
    width: 1000px;
    height: 670px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h2{
    align-self: center;
    justify-self: start;
    font-size: 45px;
    color: #4CA9F9;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 50px;
    
}

.main-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.pfp-container{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    align-items: center;
    justify-content: center;
}
.pfp-container input{
    display: none;
}


.image-box{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.image-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pfp-container label{
    margin-top: 20px;
    justify-self: center;
    align-items: center;
    border-radius: 15px;
    display: inline-block;
    text-decoration: uppercase;
    color: white;
    background-color: #5e9ed7;
    text-align: center;
    padding: 15px 40px;
    user-select: none;
    cursor: pointer;
    width: 150px;
    transition: all 0.5s ;

}

.pfp-container label:hover{
    background-color: #347dbd;
}

.info-container{
    display: flex;
    flex-direction: column;
}

.inputs-container{
    max-height: 350px;
    overflow: auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.input-container{
    position: relative;
    margin: 20px;
}

.inputs-container input{
    width: 200px;
    height: 25px;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    border: 1px solid white;
    background: transparent;
    color: white;
    outline: none;
}

.input-container label{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    color: white;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    pointer-events: none;
    transition: all 0.5s;
}

.input-container input:focus ~ label{
    top: 0;
    left: 15px;
    font-size: 15px;
    padding: 0 3px;
    background: #365c7d;
}

.inputs-container input:valid ~ label{
    top: 0;
    left: 15px;
    font-size: 15px;
    padding: 0 3px;
    background: #365c7d;
}


.date-input:invalid{
    top: 0;
    left: 15px;
    font-size: 15px;
    padding: 0 3px;
    background: #395772;
}

.btn-container{
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.btn-container button{
    margin-right: 20px;
    width: 150px;
    height: 50px;
}

.btn-container p{
    color: white;
    margin-right: 30px;
    align-self: center;
    font-size: 16px;
    font-weight: 200;
}

.btn-container a{
    color: #4CA9F9;
    font-weight: 200;
    font-size: 16px;
}


.input{
    width: 200px;
}