<div class="card-container">
    <h2 class="font-poppins">Register</h2>
    <div class="main-container">
        <div class="pfp-container">
            <div class="image-box">
                <img src="assets/film-1.jpg">
            </div>
            <input (change)="uploadPhoto($event)" type="file" id="pfp" accept="imag/png, image/jpeg, image/jpg">
            <label class="font-poppins" for="pfp">Select File</label>
        </div>
        <div class="info-container">
            <div class="inputs-container">
                <div class="left-side">
                    <div class="input-container">
                        <input [(ngModel)]="emailInput" type="text" id="email" required>
                        <label for="email">Email</label>
                    </div>

                    <div class="input-container">
                        <input [(ngModel)]="passwordInput" type="password" id="password" required>
                        <label for="password">Password</label>
                    </div>

                    <div class="input-container">
                        <input [(ngModel)]="firstNameInput" type="text" id="firstname" required>
                        <label for="firstName">First Name</label>
                    </div>

                    <div class="input-container">
                        <input [(ngModel)]="secondNameInput" type="text" id="secondName" required>
                        <label for="secondName">Second Name</label>
                    </div>

                    <div class="input-container">
                        <input [(ngModel)]="firstLastNameInput" type="text" id="firtLastName" required>
                        <label for="firtLastName">First Lastname</label>
                    </div>

                    <div class="input-container">
                        <input [(ngModel)]="secondLastNameInput" type="text" id="secondLastName" required>
                        <label for="secondLastName">Second Lastname</label>
                    </div>


                </div>

                <div class="right-side">
                    <div class="input-container">
                        <input [(ngModel)]="identificationInput" type="text" id="personalId" required>
                        <label for="personalId">Identification Card</label>
                    </div>

                    <div class="input-container">
                        <input [(ngModel)]="phoneInput" type="text" id="phone" required>
                        <label for="phone">Phone</label>
                    </div>

                    <div class="input-container">
                        <input [(ngModel)]="usernameInput" type="text" id="username" required>
                        <label for="username">Username</label>
                    </div>

                    <div class="input-container">
                        <input [(ngModel)]="birthdayInput" class="date-input" type="date" id="birthday" placeholder="none">
                        <label for="birthday">Birthday</label>
                    </div>

                    <div class="input-container">
                        <shared-dropdown-menu class="dropdown" header="Community" [options]="communityOptions" (selectedOptionsChange)="getCommunityInput($event)"></shared-dropdown-menu>
                        <shared-dropdown-menu class="dropdown" header="Gender" [options]="genderOptions" (selectedOptionsChange)="getGenderInput($event)"></shared-dropdown-menu>
                    </div>
                    <div class="input-container">
                        <shared-dropdown-menu class="dropdown" header="Nationality" [options]="nationalityOptions" (selectedOptionsChange)="getNationalityInput($event)"></shared-dropdown-menu>
                    </div>
                </div>

            </div>
            <div class="btn-container">
                <p class="font-poppins">You already have an account? <a class="font-poppins" href="/">Login</a></p>
                <button (click)="signUpAction()" class="lightblue-button cancel-btn" type="submit">Sign Up</button>
            </div>
        </div>
    </div>
</div>
