p {
  font-weight: lighter;
  font-size: 12px;
}

.badge {
  background-color: #5e9ed7;
  width: fit-content;
  padding: 6px 10px;
  border: 1px solid transparent;
  border-radius: 15px;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.3s;
}

.badge:hover {
  background-color: #347dbd;
}
