<div class="movie-box">
  <div class="gradient"></div>
  <img [src]="image" alt="">
  <div class="overlay">
    <div class="icons">
      @if (remove) {
        <i class="material-icons remove">close</i>
      }
      @if (favorite) {
        <i class="material-icons">favorite</i>
      }
      @if (buy) {
        <i class="material-icons">shopping_cart</i>
      }
    </div>
  </div>
  <div class="movie-info">
      <label class="movie-title">{{role}}</label>
      <label class="movie-year">{{name}}</label>
  </div>
</div>
