
.movie-box {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
  border-radius: 10px;
  cursor: pointer;
  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 10px;
  }
}


.movie-box:hover{
  transform: scale(1.05);
}

.movie-info{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 18px ;
  color: white;
  bottom: 0;
}

.movie-title{
  font-size: 20px;
}
.movie-year{
  font-size: 17px;
  color: rgb(169, 169, 169);
}

.gradient {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.571), transparent);
  position: absolute;
  border-radius: 10px;
}

.overlay {
  border-radius: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #00000079;
}

.movie-box:hover .overlay {
  opacity: 1;
}

.icons {
  width: fit-content;
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  padding-left: 10px;
  gap: 8px;
}

.material-icons {
  color: white;
  transition: 0.5s ease;
}


.material-icons:hover {
  color: #4ca8f9;
}

.remove:hover {
  color: red;
}
