<div class="main-container">
    <h2>Add Content</h2>
    <div class="flex-row">
        <div class="left-side">
            <div class="input-container">
                <input [(ngModel)]="titleInput" id="title" required>
                <label for="title">Title</label>
            </div>

            <div class="input-container date">
                <input [(ngModel)]="dateInput" type="date" id="Release Date" required>
                <label for="Date">Release Date</label>
            </div>

            <div class="input-container">
                <input [(ngModel)]="durationInput" id="duration" required>
                <label for="duration">Duration</label>
            </div>

            <div class="input-container">
                <input [(ngModel)]="priceInput" id="price" required>
                <label for="price">Price</label>
            </div>
        </div>

        <div class="right-side">
            <h3>Categories</h3>
            <div class="dropdown-container">
                <shared-dropdown-menu
                header="Categories"
                [options]="categories"
                (selectedOptionsChange)="categoriesInput"></shared-dropdown-menu>
            </div>
            <h3>Actors</h3>
            <div class="dropdown-container">
                <shared-dropdown-menu
                header="Actors"
                [options]="actorsList"
                (selectedOptionsChange)="actorsInput"></shared-dropdown-menu>
            </div>
        </div>
    </div>
    <button  class="addBtn lightblue-button">Add Content</button>
</div>


